html, body{
    height: 100%;
    background-color: #F7EBD4;
    font-family:  Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin: 0px;
    font-weight: lighter}
header{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    background-color: rgb(48, 47, 47);
    padding: 20px;
    color: white;
    font-size: 1.2em}
.headers{padding: 18px}
nav{   
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 0px 0}
nav li {
    border: 1px solid grey;
    padding: 5px;
    color: rgb(36, 33, 33);
    display: inline-block;
    margin: 10px 10px 10px 10px}       
div li{
    border: 1px solid grey;
    padding: 5px;
    background-color: bisque;
    color: rgb(36, 33, 33);
    display: inline-block;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 0px #333333}
nav ul{padding: 0px}
div ul{padding: 0px}
.button{
    font-size: 1em;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    margin: 0px 0px 0px 0}
a{transition: all 0.5s ease}
a:link, a:visited {
    color: rgb(36, 33, 33);
    text-decoration: none}
a:hover {
    width:400px;
    color: red;
    text-decoration: none}
.profile{
    width: 100%;
    box-shadow: 0px 0px 5px 1px #000000;
    border-radius: 1000px;
    padding: 8px}
.floating-box{
    float: right;
    width: 270px;
    margin: 10px;
    clear: both}
.center{
    display: inline-block;
    position: relative;
    width: 260px;
    margin: 50px 0 0 0 ;
    padding: 0px}
strong{margin: 0px 0px 0px -5px}
p{margin: 0}
.borderBottom{border-bottom: 1px solid black}
.pform{text-align: center}
.info{
    position: relative;
    display: block;
    background-color: firebrick}
section{
    height: 100%;
    position: relative;
    max-width: 600px;
    margin: 0  auto;
    padding: 1px 10px 5px 10px}
article{ 
    overflow: hidden;
    font-weight: lighter;
    text-align: justify;
    background-color: #F7EBD4;
    padding:10px;
    margin: 0px 0 30px 0;
    font-size: 1em;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px #333333}
.h{
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center; 
    margin: 0}
h4{text-transform: uppercase; text-align: center}
h5{color: wheat}
.job{
    text-align: center;
    font-size: 0.7em}
footer{
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(23, 26, 23);
    padding: 20px;
    color: white}
.form{
    display: inline-block;
    font: 1em  Helvetica, Arial, sans-serif;
    font-weight: lighter;
    width: 49%;
    letter-spacing: 2px;
    color: rgb(36, 33, 33);
    padding: 10px 20px;
    margin: 7px 0 20px 0 ;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #333333}
.bottoni {background-color: bisque}
#comments{width:92.9%}
.resizeFooter{
    display: inline-block;
    margin: 0 20px 0 20px;
    width: 5%}
.gender{
    float: left;
    margin: 0px 5px 0 0;
    padding: 0px;
    max-width: 20px}
.capitalize{text-transform: capitalize}