strong {margin: 0px 0px 0px -5px}
p {margin: 0;
font-size: 1.2em}
.h {text-transform: uppercase;
    font-weight: lighter;
    margin: 0}
h4 {text-transform: uppercase}

.job {font-size: 0.7em}

.capitalize {text-transform: capitalize}