$colorBack: #F7EBD4;
$colorHover: red;
$colorLink: rgb(36, 33, 33);
$colorLinkFooter: white;
$colorShadow: #333333;
$colorHeaderFooter: rgb(48, 47, 47);
$colorTextHeaderFooter: white;
$colorTextHeader: wheat;
$colorBorderNav: grey;
$colorBorderForm: grey;
$colorTextNav: rgb(36, 33, 33);
$colorText: rgb(36, 33, 33);
$colorBorderBottom: black;
